# =========================
# Python / Packaging
# =========================
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/


# ignore the old notebooks
original_notebooks/

pip-wheel-metadata/
*.egg-info/
.eggs/
build/
dist/
pip-log.txt

# If you use poetry/pdm/uv etc
.poetry/
.pdm-build/
.uv/

# =========================
# Jupyter / IPython
# =========================
.ipynb_checkpoints/
profile_default/
.ipython/

# Optional: ignore notebooks if you prefer keeping only cleaned versions
# notebooks/**

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs / Temp / Cache
# =========================
*.log
logs/
tmp/
temp/
.cache/
.pytest_cache/
.mypy_cache/
ruff_cache/
.coverage
htmlcov/

# =========================
# Results / Figures / Exports
# =========================
results/
outputs/
runs/
checkpoints/
figures*/
*.jpg
*.jpeg
*.pdf
.svg

# =========================
# Local configs / secrets
# =========================
.env
.env.*
secrets/
credentials.json
*.key

# =========================
# Misc
# =========================
*.zip
*.tar
*.tar.gz
*.7z

